:root {
  --primary: #eb7d34;
  --secondary: #ada7a6;
  --dark: #1c1b1b;
  --light: #eee;
}

* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color: var(--light);
}

.App {
  padding: 50px;
}

.calculator {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.2);
  margin: auto auto;
}

.display {
  padding: 16px;
  text-align: right;
  background-color: var(--secondary);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.display span {
  font-size: 14px;
  color: #888;
}

button {
  appearance: none;
  border: 1px #ada7a6 solid;
  outline: none;
  color: var(--dark);
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.operators {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-content: flex-end;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

#numbers {
  flex-direction: row;
}

.digits {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 500px;
}

#zero {
  grid-column: 1/3;
}

.digits button {
  background-color: var(--light);
}

.operator-digits-container {
  display: flex;
  flex-direction: row;
}
